<div class="h-16 bg-slate-200"></div>
<div class="flex justify-center">
  <!-- card -->
  <div class="grid gap-2 w-5/6 md:w-4/6 lg:w-3/6 max-w-lg mt-8">
    <h1 class="text-5xl font-semibold text-center mb-12 tracking-wide">
      Reset Password.
    </h1>
    <!-- Email -->
    <div>
      <label for="email" class="block pb-2 font-bold">Email</label>
      <ya-email-input
        [formControl]="email"
        [errors]="email.errors"
      ></ya-email-input>
      <div *ngIf="email.touched && email.errors" class="my-2">
        <ya-error-message
          *ngIf="email.errors.required"
          message="Email address is required"
        >
        </ya-error-message>
        <ya-error-message
          *ngIf="email.errors.email"
          message="Must be a valid email address"
        >
        </ya-error-message>
      </div>
    </div>
    <button
      pButton
      pRipple
      label="Send Reset Password Link"
      class="p-button-outlined"
      [disabled]="email.invalid"
      (click)="resetPassword()"
    ></button>
  </div>
</div>
